version: '3'
services:
  order-service:
    build: ./
    depends_on:
      - postgres
      - jaeger-all-in-one
    environment:
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector:4317"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_TRACES_EXPORTER: "otlp"
      OTEL_METRICS_EXPORTER: "logging"
      OTEL_LOGS_EXPORTER: "logging"
      OTEL_METRIC_EXPORT_INTERVAL: 15000
      DB_HOST: postgres
      DB_USER: admin
      DB_PASSWORD: admin
      DB_NAME: orders
      DB_PORT: 5432
    ports:
      - "8080:8080"

  otel-collector:
    image: otel/opentelemetry-collector:latest
    container_name: otel-collector
    depends_on:
      - jaeger-all-in-one
      - zipkin
    volumes:
      - ./otel-config.yaml:/etc/otelcol/config.yaml
    command: [ "--config=/etc/otelcol/config.yaml" ]
    ports:
      - "4317:4317"
      - "4318:4318"


  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"

  jaeger-all-in-one:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    environment:
      COLLECTOR_OTLP_ENABLED: "true"
    restart: always
    ports:
      - "16686:16686"
      - "14250:14250"


  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: orders
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"

volumes:
  postgres_data:
    driver: local
